<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="about.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div class="header">
    <h1>Team D Members</h1>
    <div class="header">
      <a href="/">Home</a>
    </div>
  </div>

  <div class="topnav">
    <a href="/Xavier">Xavier</a>
    <a href="/Jacob">Jacob</a>
    <a href="/seth">Seth</a>
    <a href="/saimye">Saimye</a>
  </div>
  <div class="information" >
  
</div>

  </body>
  </html>
