<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="container-fluid bg-3 text-center">
  <h3><%= name %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p><%= position %></p>

    </div>
    <div class="col-sm-4">
      <p><%= header1 %></p>
    </div>
    <div class="col-sm-4">
      <% for (var i = 0; i < comments.length; i++) { %>
    </div>
  </div>
</div>

</body>
</html>
