<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="profiles.css">
  <div class="header">
    <a href="/">Home</a>
  </div>
</head>
<body>
<div class="all">
  <div class="name">
  <h3><%= name %></h3><br>
  </div>
  <div class="row">
    <div class="pos">
      <p><%= position %></p>

    </div>
    <div class="header1">
      <p><%= header1 %></p>
    </div>
    <div class="desc">
      <p><%= profile %></p>
    </div>
</div>

</body>
</html>
